{% extends "layout_noback.html" %}

{% block pageTitle %}
  Your address has been updated for State Pension - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your address has been updated for State Pension
        </h1>
      </div>
      <h2 class="govuk-heading-s">Your address for State Pension has been updated to:</h2>

      <p class="govuk-body">
        1 Square Street<br>
        York<br>
        YO3 1SQ	<br>
 

        <p class="govuk-body">We will send you an email confirmation to confirm you have changed your address.</p>

<!-- 
        <p class="govuk-body">
          If you would like your letters sent somewhere other than this address, you will have to <a href="https://www.gov.uk/contact-pension-service/report-changes">contact the Pension Service by phone or post</a>.
        </p>

        <p class="govuk-body">We will send you a letter to confirm you have changed your address.</p> -->
  
      <h2 class="govuk-heading-s">What we will do next</h2>

        <p class="govuk-body">
          Once we have updated your Pension Credit address you will receive a letter to confirm this change.
        </p>

        <p class="govuk-body">
          We may be in contact with you if we need more information.
        </p>

        <h2 class="govuk-heading-s">What you need to do next</h2>

        <p class="govuk-body">
          You must report your change of address for any other benefits you get or have applied for. 
          You must <a href="https://www.gov.uk/attendance-allowance/report-change-in-circumstances"target="_blank">contact the Attendance Allowance helpline (opens in new tab)</a>.
        </p>

        <p class="govuk-body">
          Your claims might be stopped or reduced if you do not report a change straight away. Some changes will increase the amount of benefits you get.
        </p>

      <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        This is a new service. Help us improve it and <a href="#">give your feedback (opens in new tab)</a>.
      </p>
      <!-- <div class="govuk-inset-text">
        <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div> -->
      <div class="govuk-inset-text">
      <a href="your-state-pension&updated.html">Return to Your State Pension details.</a></div>
      <p class="govuk-body">
        <a href="signed-out.html">Sign out</a>
      </p>
      <!-- <p class="govuk-body">
      <a href="emails/email-v2.html" target="_blank">Email confirmation 2</a>
      </p> -->
      </div>
      
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
ÍÍ