{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong><br>
        V.2 Rent to rent Change of address for SP & PC - GySP citizen    
      </h1>
      <h2 class="govuk-heading-l">Rent to rent with a partner only and upfront eligibility questions</h2>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="manage-state-pension.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Pages in journey</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="manage-state-pension.html">Mock GOV.UK start page</a></li>
            <li><a href="privacy-notice.html">Privacy notice</a></li>
          </ul>

          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>

          <h3 class="govuk-heading-s">Filters</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="filters/pension-credit-warm-up.html">Pension Credit warm up page</a></li>
            <li><a href="filters/rent-now.html">Do you rent now?</a></li>
            <li><a href="filters/rent-before.html">Did you rent before?</a></li>
            <li><a href="filters/uk-address.html">Is it a UK address?</a></li>
            <li><a href="filters/you-cannot-change-international-address.html">You cannot change your address to International online</a></li>
            <li><a href="filters/perm-or-temp.html">Is it a perm or temp address?</a></li>
            <li><a href="filters/you-cannot-change-pc-address-online.html">You cannot change your address online</a></li>
            <li><a href="filters/when-did-you-move.html">When did you move?</a></li>
            <li><a href="filters/live-with-a-partner.html">Do you live with a partner?</a></li>
            <li><a href="filters/partner-live-at-previous-property.html">Partner live at previous property?</a></li>
            <li><a href="filters/partner-move.html">When did your partner move?</a></li>
            <li><a href="filters/partner-dob.html">Partners Date of Birth</a></li>
            <li><a href="filters/live-with-other-people.html">Do you live with other people?</a></li>
            <li><a href="filters/coa-sp-only-knockout.html">You can change your address for Stete Pension</a></li>
          </ul>

          <h3 class="govuk-heading-s">Task List</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="task-list.html">Task list</a></li>
          </ul>
          

          <h3 class="govuk-heading-s">New address</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="new-address/address-finder/find-address.html">Find address</a></li>
            <li><a href="new-address/address-finder/select-an-address.html">Select and address</a></li>
            <li><a href="new-address/housing-costs.html">Do you pay any servcie charges?</a></li>
          </ul>
          
          <!-- <h3 class="govuk-heading-s">Where you live now</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="where-you-live-now/rent/housing-costs.html">Do you have housing costs?</a></li>
            <li><a href="where-you-live-now/rent/rent-check-your-details.html">Rent check details</a></li>
          </ul> -->
          <h3 class="govuk-heading-s">Partner</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="partner/partner-details.html">Partner details</a></li>
            <li><a href="partner/partner-hospital-stay.html">Partner hospital stay</a></li>
            <li><a href="partner/partner-registered-blind.html">Partner registered blind</a></li>
            <li><a href="partner/partner-check-your-details.html">Partner check answers</a></li>
          </ul>
          <h3 class="govuk-heading-s">Savings and investments</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="s&i/capital-select-capital.html">Do you have any of these savings and investments</a></li>
            <li><a href="s&i/capital-total-today.html">How much money do you have today</a></li>
            <li><a href="s&i/other-property.html">Other property</a></li>
            <li><a href="s&i/capital-check-answers.html">S&I check answers</a></li>
          </ul>

           <h3 class="govuk-heading-s">How we contact you</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="how-we-contact-you/provide-email-address.html">Provide email address</a></li>
            <li><a href="how-we-contact-you/provide-phone-number.html">Provide phone number</a></li>
            <li><a href="how-we-contact-you/contact-check-your-details.html">Contact you check your details</a></li>

          </ul>
          <h3 class="govuk-heading-s">Confirmations</h3>
          <ul class="govuk-list govuk-list--bullet">
           <li><a href="confirmation-1.html">Confirmation screen straight through processing</a></li>
            <li><a href="confirmation-2.html">Confirmation screen straight through processing with 1 other benefit</a></li>
            <li><a href="confirmation-3.html">Confirmation screen straight through processing with 2 other benefits</a></li>
            <li><a href="confirmation-action-needed-1.html">Confirmation screen with further action needed by the citizen</a></li>
            <li><a href="confirmation-action-needed-2.html">Confirmation screen with further action needed by the citizen and 1 other benefit</a></li>
            <li><a href="confirmation-action-needed-3.html">Confirmation screen with further action needed by the citizen and 2 other benefits</a></li>
            <li><a href="confirmation-api-fail.html">Confirmation screen when the benefits API-014 fails</a></li>
          </ul>
          <h3 class="govuk-heading-s">Emails</h3>
          <ul class="govuk-list govuk-list--bullet">
          <li><a href="emails/email-v1.html">Confirmation screen straight through processing</a></li>
          <li><a href="emails/email-v2.html">Confirmation screen straight through processing with 1 other benefit</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>
      <h2 class="govuk-heading-s">Change of address</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-11921" target="_blank">JIRA ticket for iterations</a></li>
        <li>Based on <a href="https://lucid.app/lucidspark/3b0c7614-835d-4dbb-9940-c9fc4e54e380/edit?invitationId=inv_6381c98f-c7b4-4fd7-8f88-624c1cd0f971" target="_blank">Lucid board for designs and workshops</a>
        <li>Simple address change for citizen moving from a rental property to a rental property</li>
        <li>Citizen can tell us some basic information about a partner</li>
        <li>Excluding people who move into a care home or hospital, where the citizen lived before and additional people living with them that isn't a partner</li>

      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
          
      </ul>


{% endblock %}



