{% extends "layout_noback_nowelsh.html" %}

{% block pageTitle %}
  Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="your-state-pension" method="post">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                We have changed how you sign in 
              </h3>
              <p class="govuk-body">GOV.UK One Login is the new way to sign in to government services.</p>
              <p class="govuk-body">In the future you'll be able to use your GOV.UK One Login to access all the services on GOV.UK</p>
            </div>
          </div>

        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Manage your State Pension
          </h1>

          <h2 class="govuk-heading-m">
            Changes you can report online
          </h2>

          <p class="govuk-body">You can use this service to change:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your address</li>
            <li>the bank account we pay your State Pension into if the new account is yours</li>
          </ul>
          <p class="govuk-body">You cannot tell us about a move to prison using this service.</p>


          <button class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </button>

          <div class="govuk-inset-text">
            <p class="govuk-body">
              This service is also available in <a href="">Welsh (Cymraeg)</a>.
            </p>
          </div>

          <h2 class="govuk-heading-m">
            Other changes you can make online
          </h2>

          <p class="govuk-body">If you were born after 1955 you may be able to change:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>how often we pay your State Pension</li>
              <li>when you'll get your next State Pension payment</li>
              <li>where we send your letters</li>
              <li>your phone number</li>
              <li>your email address</li>
            </ul>

          <h2 class="govuk-heading-m">
            Tell us about changes by phone or post
          </h2>

          <p class="govuk-body">
            If you live in England, Scotland or Wales <a href="">contact the Pension Service by phone or post</a>.
          </p>

          <p class="govuk-body">
            If you live in Northern Ireland <a href="">contact the Northern Ireland Pension Centre by phone or post</a>.
          </p>        
      </form>
    </div>
  </div>
  {% endblock %}

{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "idv-recreated-pages/idv-placeholder",
          text: "ID&V CODES REQUIRED (opens in new tab)",
          attributes: {
            target: "_blank"
          }
        },
        {
          href: "idv-recreated-pages/success",
          text: "SKIP ID&V SUCCESS"
        },
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}

{% endblock %}
