{% extends "layout_noback.html" %}

{% block pageTitle %}
  You have changed your bank details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Citizen goes through Change of address for Stae Pension only
        </h1>
      </div>
      <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        <a href="../phase1/gysp-v1/your-state-pension.html"> State Pension only journey</a>
      </p>

      <p class="govuk-body">
        {% if data['bank-email'] == 'bank-confirmation-yes' %}
          We have sent you an email to confirm you have changed your bank details. We will also send you a letter in the post.
          {% if data['show-letter-format'] == 'show-letter-format-yes' %}
            Letters are sent in the format you requested.
          {% endif %}
        {% else %}
          We'll send you a letter to confirm we've changed your bank or building society account.
          {% if data['show-letter-format'] == 'show-letter-format-yes' %}
            Letters are sent in the format you requested.
          {% endif %}
        {% endif %}
      </p>

      <h2 class="govuk-heading-m">
        If you get Pension Credit
      </h2>
      <p class="govuk-body">
        To change the bank or building society acount we pay your Pension Credit into, <a href="contact-pension-service.html" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>.
      </p>
      <h2 class="govuk-heading-m">
        If you need to tell us about other changes
      </h2>
      <p class="govuk-body">
        To report other changes, like a change of address, use our online service or <a href="contact-pension-service.html" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>.
      </p>
      <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        This is a new service. Help us improve it and <a href="#">give your feedback (opens in new tab)</a>.
      </p>
      <div class="govuk-inset-text">
        <a href="your-state-pension&updated.html" class="govuk-link">Return to Your State Pension details</a>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "you-have-changed-your-bank-details&alt.html",
            text: "Alternative confirmation page"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}