{% extends "layouts/ol_signed_in_noback" %}

{% block pageTitle %}
  Change your address for State Pension and Pension Credit - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
               Change your address for State Pension and Pension Credit
              </h1>
            </legend>

            <p class="govuk-body">
              You need to complete all sections to change your address. You cannot save your answers and return later.
            </p>

            <h2 class="govuk-heading-m">Eligibility</h2>
            <ul class="govuk-task-list">

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.eligibilityQuestions == 'completed' or data.eligibilityQuestions == 'inprogress' %}
                            filters/rent-now?section=eligibilityQuestions
                        {% else %}
                            filters/rent-now?eligibilityQuestions=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Eligibility
                    </a>
                    </div>
                    {% if data.eligibilityQuestions == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.eligibilityQuestions == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
            </ul>

            <h2 class="govuk-heading-m">Your home</h2>
            <ul class="govuk-task-list">


                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.newAddress == 'completed' or data.newAddress == 'inprogress' %}
                            new-address/address-finder/find-address?section=newAddress
                        {% else %}
                            new-address/address-finder/find-address?newAddress=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Your new address
                    </a>
                    </div>
                    {% if data.newAddress == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.newAddress == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>

            </ul>

            {% if (data['live-with-partner'] == "Yes") %}

            <h2 class="govuk-heading-m">Your household</h2>
            <ul class="govuk-task-list">

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.partnerDetails == 'completed' or data.partnerDetails == 'inprogress' %}
                            partner/partner-details?section=partnerDetails
                        {% else %}
                            partner/partner-details?partnerDetails=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        You and your partner
                    </a>
                    </div>
                    {% if data.partnerDetails == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.partnerDetails == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
            </ul>
            {% else %}
            {%endif%}
                </li>
            </ul>

            <h2 class="govuk-heading-m">Your money and investments</h2>
            <ul class="govuk-task-list">
                

            {% if data.partnerDetails == 'completed' %}

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.savingsInvestments == 'completed' or data.savingsInvestments == 'inprogress'%}
                            s&i/capital-select-capital?section=savingsInvestments
                        {% else %}
                            s&i/capital-select-capital?savingsInvestments=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Money and investments
                    </a>
                    </div>
                    {% if data.savingsInvestments == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.savingsInvestments == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                    <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>                        
                    {%endif%}
                </li>
            {% else %}
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.savingsInvestments == 'completed' or data.savingsInvestments == 'inprogress'%}
                            s&i/capital-select-capital?section=savingsInvestments
                        {% else %}s&i/capital-select-capital?savingsInvestments=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Your money and investments
                    </a>
                    </div>
                    {% if data.savingsInvestments == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.savingsInvestments == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
                            Cannot start yet
                        </div>
                        
                    {%endif%}
                </li>
            {%endif%}
            </ul>

            <h2 class="govuk-heading-m">Contact details</h2>
            <ul class="govuk-task-list">


                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.contactYou == 'completed' or data.contactYou == 'inprogress'%}
                            how-we-contact-you/provide-email-address?section=contactYou
                        {% else %}
                            how-we-contact-you/provide-email-address?contactYou=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        How we contact you
                    </a>
                    </div>
                    {% if data.contactYou == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.contactYou == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
            </ul>


            {% if data.contactYou  == 'completed' %}

            <h2 class="govuk-heading-m">Submit your new details</h2>
            <p class="govuk-body">By submitting this change you are confirming that the information you are giving is complete and correct.</p>
            

            <form method="post" novalidate>
                <input type="hidden" name="answers-checked" value="true">
                <button class="govuk-button" data-module="govuk-button">
                    Confirm and submit
                </button>
            </form>

        </fieldset>

        {% else %}
        <h2 class="govuk-heading-m">If you need help</h2>
            <p class="govuk-body">
                If you need help or want to tell us about your change of address another way,  <a href="https://www.gov.uk/contact-pension-service/report-changes" class="govuk-link" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>.
            </p>

            <div class="govuk-inset-text">
                <a href="your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
            </div>

        {%endif%}
        </div>
    </div>
    
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
