{% extends "layouts/ol_signed_in" %}

{% block pageTitle %}
  Change your address for State Pension and Pension Credit - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
               Change your address for State Pension and Pension Credit
              </h1>
            </legend>

            <p class="govuk-body">
              You must answer all questions about your change of address within 30 days of starting. 
            </p>

            <h2 class="govuk-heading-m">Your home</h2>

            <ul class="govuk-task-list">
              
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="new-address/have-you-already-moved" aria-describedby="company-details-1-status">
                    Your new address
                  </a>
                  <!-- <div id="company-details-3-hint" class="govuk-task-list__hint">
                    Include 5 years of the company's relevant financial information
                  </div> -->
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    Done
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="where-you-live-now/housing-status" aria-describedby="company-details-2-status">
                    About where you live now
                  </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    Done
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="../v1/where-you-lived-before/previous-housing-status" aria-describedby="company-details-4-status">
                    About where you lived before
                  </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-4-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    To do
                  </strong>
                </div>
              </li>
            </ul>

              <h2 class="govuk-heading-m">People who live with you</h2>
              <ul class="govuk-task-list">
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="partner/do-you-live-with-a-partner" aria-describedby="company-details-4-status">
                    Your partner
                  </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-4-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    To do
                  </strong>
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
                    Children or qualifying young people
                  </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-4-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    To do
                  </strong>
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
                    Other people who live with you
                  </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-4-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    To do
                  </strong>
                </div>
              </li>
              </ul>
              <h2 class="govuk-heading-m">Your money</h2>
              <ul class="govuk-task-list">
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                    Savings and investment
                  </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-5-status">
                    Cannot start yet
                </div>
              </li>
            </ul>

            

            <h2 class="govuk-heading-m">If you need help</h2>
        <p class="govuk-body">
          If you need help or want to tell us about your change of address another way,  <a href="" class="govuk-link">contact the Pension Service by phone or post</a>.
        </p>
        <div class="govuk-inset-text">
          <a href="your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
        </div>

        </fieldset>
        </div>
    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
