{% extends "layout_noback.html" %}

{% block pageTitle %}
  Your State Pension - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {% if data['full-name'] %}
            {{ data['full-name'] }}
          {% else %}
            Alex Jones
          {% endif %}
        </span>
        Your State Pension
      </h1>

      <h2 class="govuk-heading-m">Payment schedule</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            How often we pay your State Pension
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['payment-frequency'] %}
              {{ data['payment-frequency'] }}
            {% else %}
              Every 4 weeks<br>(13 payments a year)
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-!-font-size-19" href="">
              Change<span class="govuk-visually-hidden"> how often we pay your State Pension</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['next-payment-date'] %}
              {{ data['next-payment-date'] }}
            {% else %}
              Friday 4 August 2023
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['next-payment-amount'] %}
              {{ data['next-payment-amount'] | currency }}
            {% else %}
              £815.40
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
      </dl>
      <div style="display:inline-block;width:100%;">
        <h2 class="govuk-heading-m" style="float:left;">Bank or building society details</h2>
        <a class="govuk-link govuk-!-font-size-19" href="" style="float:right;vertical-align: baseline;">
          Change<span class="govuk-visually-hidden"> bank or building society details</span>
        </a>
      </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            Name on the account
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-account-holder'] %}
              {{ data['current-account-holder'] }}
            {% else %}
              A Jones
            {% endif %}
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-sort-code'] %}
              {{ data['current-sort-code'] }}
            {% else %}
              ******
            {% endif %}
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-account-number'] %}
              {{ data['current-account-number'] }}
            {% else %}
              ********
            {% endif %}
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
          </dd> -->
        </div>
        {% if data['current-roll-number'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building society roll number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['current-roll-number'] }}
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
          </dd> -->
        </div>
        {% endif %}
      </dl>
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:0px;">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-address-line-1'] %}
              {{ data['current-address-line-1'] }}<br>
            {% else %}
              123 Square Street<br>
            {% endif %}
            {% if data['current-address-line-2'] %}
              {{ data['current-address-line-2'] }}<br>
            {% else %}
              York<br>
            {% endif %}
            {% if data['current-address-line-3'] %}
              {{ data['current-address-line-3'] }}<br>
            {% endif %}
            {% if data['current-postcode'] %}
              {{ data['current-postcode'] }}
            {% else %}
              YO3 1SQ
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="eligibility.html">Change<span class="govuk-visually-hidden"> address</span></a>
            </li>
          </dd>        
        </div>

        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:0px;">
          <dt class="govuk-summary-list__key">
            Address we send letters to
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-correspondence-line-1'] %}
              {{ data['current-correspondence-line-1'] }}<br>
            {% else %}
              <!-- 123 Square Street<br> -->
            {% endif %}
            {% if data['current-correspondence-line-2'] %}
              {{ data['current-correspondence-line-2'] }}<br>
            {% else %}
              <!-- York<br> -->
            {% endif %}
            {% if data['current-correspondence-line-3'] %}
              {{ data['current-correspondence-line-3'] }}<br>
            {% endif %}
            {% if data['current-correspondence-postcode'] %}
              {{ data['current-correspondence-postcode'] }}
            {% else %}
              Your home address <span class="govuk-visually-hidden"> address</span>
              <!-- YO31SQ -->              
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> address we send letters to</span></a>
            </li>
          </dd>        
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-home-phone'] %}
              {{ data['current-home-phone'] }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['current-home-phone'] %}
            <ul class="govuk-summary-list__actions-list">  
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> home phone number</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> home phone number</span></a>
              </li>
            </ul>
            {% else %}
              <a class="govuk-link" href="">Add<span class="govuk-visually-hidden"> home phone number</span></a>
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-mobile-phone'] %}
              {{ data['current-mobile-phone'] }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['current-mobile-phone'] %}
            <ul class="govuk-summary-list__actions-list">  
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> mobile phone number</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> mobile phone number</span></a>
              </li>
            </ul>
            {% else %}
              <a class="govuk-link" href="">Add<span class="govuk-visually-hidden"> mobile phone number</span></a>
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-alt-phone'] %}
              {{ data['current-alt-phone'] }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['current-alt-phone'] %}
            <ul class="govuk-summary-list__actions-list">  
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> work phone number</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> work phone number</span></a>
              </li>
            </ul>
            {% else %}
              <a class="govuk-link" href="">Add<span class="govuk-visually-hidden"> work phone number</span></a>
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-email-address'] %}
              {{ data['current-email-address'] }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['current-email-address'] %}
            <ul class="govuk-summary-list__actions-list">  
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> email address</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> email address</span></a>
              </li>
            </ul>
            {% else %}
            <a class="govuk-link" href="">Add<span class="govuk-visually-hidden"> email address</span></a>
            {% endif %}
          </dd>
        </div>

        {% if data['show-letter-format'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative format for letters
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data['letter-format'] }}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- {% if data['correspondence-address'] %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 0px solid #b1b4b6;padding-bottom:15px;">
          <dt class="govuk-summary-list__key">
           Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['correspondence-address-line-1'] %}
              {{ data['correspondence-address-line-1'] }}<br>
            {% else %}
              58 Pigeon Street<br>
            {% endif %}
            {% if data['correspondence-address-line-2'] %}
              {{ data['correspondence-address-line-2'] }}<br>
            {% else %}
              York<br>
            {% endif %}
            {% if data['correspondence-address-line-3'] %}
            {{ data['correspondence-address-line-3'] }}<br>
            {% endif %}
            {% if data['correspondence-postcode'] %}
              {{ data['correspondence-postcode'] }}
            {% else %}
              YO5 1AB
            {% endif %}
        <dd class="govuk-summary-list__actions">
          {% if data['correspondence-address'] %}
          <ul class="govuk-summary-list__actions-list">  
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> correspondence address</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="correspondence-address/remove-address.html">Remove<span class="govuk-visually-hidden"> correspondence address</span></a>
            </li>
          </ul>
          {% endif %}
        </dd>
      </dl>
      {% else %}
        <p style="border-bottom: 1px solid #b1b4b6;padding-bottom:15px;"> If you'd like your letters sent somewhere other than your home address,<a href="correspondence-address/uk-address.html" target="_blank"> add a new correspondence address.</a></p>
      {% endif %} -->

 

      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            Marital status
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['marital-status'] %}
              {{ data['marital-status'] }}
            {% else %}
              Never been married or in a civil partnership
            {% endif %}
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">
        If you need to tell us about other changes
      </h2>
      <p class="govuk-body">
        To report other changes <a href="contact-pension-service.html" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>. 
      </p>
    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "your-state-pension&issues.html",
            text: "Alternative overview page"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}



        



    


        