{% extends "layouts/ol_signed_in" %}

{% block pageTitle %}
  You've added a partner - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Your partner</span>
              <h1 class="govuk-fieldset__heading">
                You have added a partner
              </h1>
            </legend>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {% if data['first-name']%}
                {{ data['first-name']}} {{ data['last-name']}}
                  {% else %}
                    Mark Davies
                  {% endif %}
                </dt>
                
                <dd class="govuk-summary-list__actions">
                  {% if data['first-name'] %}
                  <ul class="govuk-summary-list__actions-list">  
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="partner-details.html">Change<span class="govuk-visually-hidden"> partner</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="partner-remove.html">Remove<span class="govuk-visually-hidden"> partner</span></a>
                    </li>
                  </ul>
            
                  {% else %}
                  <ul class="govuk-summary-list__actions-list">  
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="partner-check-your-details.html">Change<span class="govuk-visually-hidden"> partner</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="partner-remove.html">Remove<span class="govuk-visually-hidden"> partner</span></a>
                    </li>
                  </ul>
                  {% endif %}
                </dd>
              </div>
            </dl>
            <div class="govuk-inset-text">
                You should tell this person that DWP may use their information as part of your change request. This includes information you provide or that we already hold about them
              </div>
          </fieldse>
          
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        </div>
       </form>
      </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
