{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Has [partner name] been in hospital for a period of more than four weeks? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">You and your partner</span>
              <h1 class="govuk-fieldset__heading">
                Have you or {% if data['first-name']%}
                {{ data['first-name']}}
              {% else %}
                Mark
              {% endif %}
                had any overnight stays in hospital since
                {% if data['date-moved-day']%}
                {{data['date-moved-day']}} {{data['date-moved-month'] | monthName}} {{data['date-moved-year']}}?
                {% else %}
                12 August 2026
              {% endif %}
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="partner-hospital-stay" name="partner-hospital-stay" type="radio" value="Yes, I have" {{ checked("partner-hospital-stay", "No") }}>
                <label class="govuk-label govuk-radios__label" for="partner-blind-no">
                  Yes, I have
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="partner-hospital-stay" name="partner-hospital-stay" type="radio" value="Yes, {{ data['first-name']}} has" {{ checked("partner-hospital-stay", "No") }}>
                <label class="govuk-label govuk-radios__label" for="partner-blind-no">
                  Yes, {{ data['first-name']}} has
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="partner-hospital-stay" name="partner-hospital-stay" type="radio" value="Yes, we both have" {{ checked("partner-hospital-stay", "No") }}>
                <label class="govuk-label govuk-radios__label" for="partner-blind-no">
                  Yes, we both have
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="partner-hospital-stay" name="partner-hospital-stay" type="radio" value="No" {{ checked("partner-hospital-stay", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="partner-blind-yes">
                  No
                </label>
              </div>        
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
