{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  What's your housing status? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/housing-status1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Where you live now</span>
              <h1 class="govuk-fieldset__heading">
                What's your housing status?
              </h1>
            </legend>

            <!-- <p class="govuk-body">
              You can only change your address after you have moved.
            </p> -->

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="housing-status" name="housing-status" type="radio" value="I own the property (with or without a mortgage)" {{ checked("housing-status", "owned") }}>
                <label class="govuk-label govuk-radios__label" for="housing-status">
                  I own the property (with or without a mortgage)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="housing-status" name="housing-status" type="radio" value="I rent" {{ checked("housing-status", "rent") }}>
                <label class="govuk-label govuk-radios__label" for="housing-status">
                  I rent
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="housing-status" name="housing-status" type="radio" value="I'm renting and buying through a shared ownership scheme" {{ checked("housing-status", "shared") }}>
                <label class="govuk-label govuk-radios__label" for="housing-status">
                  I'm renting and buying through a shared ownership scheme
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="housing-status" name="housing-status" type="radio" value="I live in someone else's home without paying rent" {{ checked("housing-status", "no-costs") }}>
                <label class="govuk-label govuk-radios__label" for="housing-status">
                  I live in someone else's home without paying rent
                </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="housing-status" name="housing-status" type="radio" value="other" data-aria-controls="conditional-contact"{{ checked("housing-status", "other") }}>
                  <label class="govuk-label govuk-radios__label" for="other">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <!-- <label class="govuk-label" for="other">
                      What should this say?
                    </label> -->
                    <input class="govuk-input govuk-!-width-one-third" id="housing-status" name="other" type="text" spellcheck="false">
                  </div>
                </div>
              </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
