{% extends "layouts/ol_signed_in" %}

{% block pageTitle %}
Did you rent the place you lived before? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Eligibility</span>
              <h1 class="govuk-fieldset__heading">
                Did you rent the place you lived before?
              </h1>
            </legend>

            <p class="govuk-body">
              Address we have saved for you:
              <div id="account-number-hint" class="govuk-hint">
              123 Square Street <br>
              York<br>
              YO3 1SQ
            </div>
            </p>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rent-before" name="rent-before" type="radio" value="Yes" {{ checked("rent-before", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="rent-before-yes">
                  Yes
                </label>
                <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  We will need more information from you to check if there will be a change to your Pension Credit entitlement.
                </div> -->
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rent-before" name="rent-before" type="radio" value="No" {{ checked("rent-before", "No") }}>
                <label class="govuk-label govuk-radios__label" for="rent-before-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
