
when-did-you-move{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Do you know when you moved into the property? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Eligibility</span>
              <h1 class="govuk-fieldset__heading">
                Do you know when you moved into the property?
              </h1>
            </legend>

            <!-- <p class="govuk-body">
              You can only change your address after you have moved.
            </p> -->

            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="date-moved" name="date-moved" type="radio" value="yes" data-aria-controls="conditional-contact"{{ checked("date-moved", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                  <div class="govuk-date-input" id="date-moved-day">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-moved-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-moved-day" name="date-moved-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item" id="passport-issued-month">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-moved-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-moved-month" name="date-moved-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item" id="date-moved-year">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-moved-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-moved-year" name="date-moved-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="date-moved" name="date-moved" type="radio" value="No" {{ checked("date-moved", "No") }}>
                <label class="govuk-label govuk-radios__label" for="No">
                  No
                </label>
              </div>
            </div>
          </fieldset>
          </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
