{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About where you live now</span>
      <h1 class="govuk-heading-l">Check your details before you submit them</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if (data['other-benefits'] == "Yes") %}
          {% endif %}  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Have you moved to your new address?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="have-you-already-moved.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Is this move permanent or temporary?
            </dt>
            <dd class="govuk-summary-list__value">
              Permanent
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Is your new address in the UK?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['uk-address'] %}
                {{ data['uk-address'] }}
              {% else %}
                Yes
              {% endif %}  
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="uk-address.html">
                Change<span class="govuk-visually-hidden"> if your moving this property</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              What type of property is it?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['property-type'] %}
                {{ data['property-type'] }}
              {% else %}
                Yes
              {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="type-of-property.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              What's your housing status?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['housing-status'] %}
                {{ data['housing-status'] }}
              {% else %}
                Yes
              {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="housing-status.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          {% if (data['select-an-address'] == "Select1") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>
          {% endif %}
          
          {% if (data['select-an-address'] == "Select2") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Your address 
            </dt>
            <dd class="govuk-summary-list__value">
              84 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/matching-address-found.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if (data['select-an-address'] == "Select3") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Your address 
            </dt>
            <dd class="govuk-summary-list__value">
              11 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>          
          {% endif %}

          {% if (data['select-an-address'] == "Select4") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Your address 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['new-address-line-1'] }}<br>
              {{ data['new-address-line-2'] }}<br>
              {{ data['new-town-1'] }}<br>
              {{ data['county-1'] }}<br>
              {{ data['new-postcode-1'] }}<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>          
          {% endif %}
        </dl>
     
        <form action="task-list2" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "../2-0/check-answers.html",
            text: "Lighter declaration",
            attributes: {
              target: "_blank"
            }
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
