{% extends "layouts/ol_signed_in" %}

{% block pageTitle %}
  Do you currently get Support for Mortgage Interest (SMI)? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/smi-support1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you currently get Support for Mortgage Interest (SMI)?
              </h1>
            </legend>

            <div id="ServiceCharges-hint" class="govuk-hint">
              <p class="govuk-hint govuk-!-margin-top-0">
                You might have applied or an SMI laon if you were previously getting one or more qualifying benefits, such as Income support, income based Jobseeker's Allowance (JSA), income-related Employment and Support Allowance (ESA) or Universal Credit.
              </p>
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="smi-support" name="smi-support" type="radio" value="Yes" {{ checked("smi-support", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="smi-support-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="smi-support" name="smi-support" type="radio" value="No" {{ checked("smi-support", "No") }}>
                <label class="govuk-label govuk-radios__label" for="smi-support-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
