{% extends "layouts/ol_signed_in" %}

{% block pageTitle %}
   What best describes the place where you live now? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/home-type-now1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What best describes the place where you live now?
              </h1>
            </legend>

            <!-- <p class="govuk-body">
              You can only change your address after you have moved.
            </p> -->

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-type2" name="home-type2" type="radio" value="owned" {{ checked("owned", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="owned-yes">
                  I own it
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-type2" name="home-type2" type="radio" value="rented" {{ checked("rented", "No") }}>
                <label class="govuk-label govuk-radios__label" for="owned-no">
                  I rent it
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-type2" name="home-type2" type="radio" value="rent-owned" {{ checked("rent-own", "No") }}>
                <label class="govuk-label govuk-radios__label" for="owned-no">
                  I rent it and own it (Shared ownership)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-type2" name="home-type2" type="radio" value="caravan" {{ checked("caravan", "No") }}>
                <label class="govuk-label govuk-radios__label" for="owned-no">
                  I live in a caravan, houseboat or mobile home
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="home-type2" name="home-type2" type="radio" value="other" {{ checked("other", "No") }}>
                <label class="govuk-label govuk-radios__label" for="owned-no">
                  I live in someone else's home without paying towards the rent or mortgage
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
