{% extends "layouts/ol_signed_in" %}

{% block pageTitle %}
  Have you already moved into this property? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/want-smi-support1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want us to send you some information about Support for Mortgage Interest (SMI)?
              </h1>
            </legend>

            <div id="ServiceCharges-hint" class="govuk-hint">
              <p class="govuk-hint govuk-!-margin-top-0">
                This support is paid as a loan that you must repay when your home is sold or transferred.
              </p>
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="want-smi-support" name="want-smi-support" type="radio" value="Yes" {{ checked("want-smi-support", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="want-smi-support-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="want-smi-support-no" name="want-smi-support" type="radio" value="No" {{ checked("want-smi-support", "No") }}>
                <label class="govuk-label govuk-radios__label" for="want-smi-support-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
