
{% extends "layouts/ol_signed_in.html" %}


{% set pageName = "About the first person who lives with you" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="partner-registered-blind" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Other people who live with you</span>
              <h1 class="govuk-fieldset__heading">
                About the first person who lives with you
              </h1>
            </legend>
            

            <div class="govuk-form-group">
              <label class="govuk-label" for="first-name">
                First name
              </label>
              <!-- <div id="searchString-hint" class="govuk-hint">
                For example, 15 or Prospect Cottage.
              </div> -->
              <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="text" aria-describedby="searchString-hint" value="{{ data['first-name'] }}">
            </div>

             <div class="govuk-form-group">
              <label class="govuk-label" for="last-name">
                Last name
              </label>
              <!-- <div id="searchString-hint" class="govuk-hint">
                For example, 15 or Prospect Cottage.
              </div> -->
              <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="last-name" type="text" aria-describedby="searchString-hint" value="{{ data['last-name'] }}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="nino">
                National insurance number
              </label>
              <!-- <div id="searchString-hint" class="govuk-hint">
                For example, 15 or Prospect Cottage.
              </div> -->
              <input class="govuk-input govuk-!-width-two-thirds" id="nino" name="nino" type="text" aria-describedby="searchString-hint" value="{{ data['nino'] }}">
            </div>

            <div class="govuk-date-input" id="citizen-record">
              <p>Date of birth</p>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="citizen-record-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="citizen-record-day" name="citizen-record-day" type="text" inputmode="numeric" vvalue="{{ data['citizen-record-day'] }}">>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="citizen-record-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="citizen-record-month" name="citizen-record-month" type="text" inputmode="numeric" value="{{ data['citizen-record-month'] }}">>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="citizen-record-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="citizen-record-year" name="citizen-record-year" type="text" inputmode="numeric" value="{{ data['citizen-record-year'] }}">>
                </div>
              </div>
            </div>

            
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
