{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  What email address should we send a confirmation to? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">How we contact you</span>
              <h1 class="govuk-fieldset__heading">
                What email address should we send a confirmation to?
              </h1>
            </legend>

            <p class="govuk-body">
              We need this to let you know that your address details have been updated for State Pension. We will not use it to update your records. We will also let you know that we have received your request to update your address details for Pension Credit.</p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-type" name="email-type" type="radio" value="My current email address" {{ checked("email-type", "current-email") }}>
                <label class="govuk-label govuk-radios__label" for="current-email">
                  My current email address
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  adam@dwp.gov.uk
                </div>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-type" name="email-type" type="radio" value="new-email" data-aria-controls="conditional-contact" {{ checked("email-type", "new-email") }}>
                <label class="govuk-label govuk-radios__label" for="new-email">
                  A different email address
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="new-email">
                    Enter an email address
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="new-email" name="new-email" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
            </fieldset>
          </div>
          
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
