{% extends "layout_signed_in.html" %}

{% block pageTitle %}
 Find an address - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="matching-address-found">
        <h1 class="govuk-heading-l">What is your address?</h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="new-address-line-1" name="new-address-line-1" type="text"  value="{{ data['new-address-line-1'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="new-address-line-2" name="new-address-line-2" type="text"  value="{{ data['new-address-line-2'] }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="new-town-1" name="new-town-1" type="text"  value="{{ data['new-town-1'] }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="county-1" name="county-1" type="text"  value="{{ data['county-1'] }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="new-postcode-1" name="new-postcode-1" type="text"  value="{{ data['new-postcode-1'] }}">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="find-address.html" class="govuk-link">Find an address</a></p>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service&help.html" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
