{% extends "layout_signed_in.html" %}

{% block pageTitle %}
 Is this your address? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="../you-are-changing-the-address-where-you-live" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                      Is this your new address?
                  </h1>
              </legend>
              <p>1 address found for <b>{{ data['postcode-1'] }}</b> and <b>1</b>. <a href="find-address.html">Search again</a></p>
              <div class="govuk-inset-text">
                1 Square Street, York, YO3 1SQ
              </div>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Use this address
              </button>
              <!-- <p class="govuk-body govuk-!-margin-bottom-0"><a href="enter-manual-address.html" class="govuk-link">Enter address manually</a></p> -->

              <!-- <p class="govuk-body"><a href="select-an-address" class="govuk-link">Use a different address</a></p> -->
              <p class="govuk-body govuk-!-margin-bottom-0">If your address is not listed <a href="https://www.gov.uk/contact-pension-service" class="govuk-link"> contact the Pension Service by phone or post</a>.</p>


          </fieldset>
        </div>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
