{% extends "layout_signed_in.html" %}

{% block pageTitle %}
  Matching address found - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/manual-address-2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Your new address</span>
              <h1 class="govuk-fieldset__heading">
                Matching address found
              </h1>
            </legend>
            <div class="govuk-inset-text">
              123 Square Street<br>
              York<br>
              YO3 1SQ
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h2 class="govuk-fieldset__heading">
                    Do you want to use this address?
                  </h2>
                </legend>
                
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-an-address-yes" name="select-an-address" type="radio" value="Select2" {{ checked("select-an-address", "Select2") }}>
                    <label class="govuk-label govuk-radios__label" for="select-an-address-yes">
                      Use this address
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-an-address-yes" name="select-an-address" type="radio" value="Select4" {{ checked("select-an-address", "Select4") }}>
                    <label class="govuk-label govuk-radios__label" for="select-an-address-yes">
                      Use the address I entered
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">

                      
                      {% if data['new-address-line-1'] %}
                        {{ data['new-address-line-1'] }}<br>
                      {% else %}
                      1 Square Street<br>
                      {% endif %}

                      {% if data['new-address-line-2'] %}
                        {{ data['new-address-line-2'] }}<br>
                      {% else %}
                      {% endif %}

                      {% if data['new-town-1'] %}
                        {{ data['new-town-1'] }}<br>
                      {% else %}
                      {% endif %}

                      {% if data['county-1'] %}
                        {{ data['county-1'] }}<br>
                      {% else %}
                        York<br>
                      {% endif %}

                      {% if data['new-postcode-1'] %}
                        {{ data['new-postcode-1'] }}<br>
                      {% else %}
                        Y03 1SQ
                      {% endif %}            
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
