{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
  You cannot use this service - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="bank-playback" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
            You cannot use this service
        </h1>
        <p class="govuk-body">
          If you need to report a change in your circumstances <a href="contact-pension-service.html">contact the Pension Service by phone or post</a>.
        </p>
        <p class="govuk-body">
          If you live in Northern Ireland, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre by phone or post</a>.
        </p>
      </div>
    </form>
    <div class="govuk-inset-text">
          <a href="../your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
    </div>
  </div>
</div>

{% endblock %}
