{% extends "layout.html" %}

{% block pageTitle %}
Is your new address a caravan, houseboat or mobile home? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/caravan-or-houseboat1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is your new address a caravan, houseboat or mobile home?
              </h1>
            </legend>


            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="caravan-or-houseboat" name="caravan-or-houseboat" type="radio" value="Yes" {{ checked("caravan-or-houseboat", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="caravan-or-houseboat">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="caravan-or-houseboat" name="caravan-or-houseboat" type="radio" value="No" {{ checked("caravan-or-houseboat", "No") }}>
                <label class="govuk-label govuk-radios__label" for="caravan-or-houseboat">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
