
{% extends "layout.html" %}

{% block pageTitle %}
Cysylltu â'r Gwasanaeth Pensiwn
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <style>
    #more {display: none;}
  </style>
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Cysylltu â'r Gwasanaeth Pensiwn
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title" id="contents">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="#claim">
                Gwneud cais am eich Pensiwn y Wladwriaeth
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#help">
                Get help using the online service
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#report">
                Cael gwybodaeth am bensiwn, neu roi gwybod am newid
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#forecast">
                Cael rhagolwg Pensiwn y Wladwriaeth
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#write">
                Ysgrifennu i’r Gwasanaeth Pensiwn
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#complain">
                Cwyno am y Gwasanaeth Pensiwn
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      <div class="govuk-inset-text">
        <p>Mae’r canllaw hwn hefyd ar gael <a href="contact-pension-service.html">yn Saesneg (English)</a>.</p>
      </div>
      
      <h2 class="govuk-heading-m" id="claim">
        Gwneud cais am eich Pensiwn y Wladwriaeth
      </h2>
      
      <p class="govuk-body">
        You can <a href="https://www.gov.uk/get-state-pension">claim your State Pension online</a>.
      </p>
      <div class="govuk-inset-text">
        <p class="govuk-body">
          If you reached State Pension age before 6 April 2016, you need to <a href="https://www.gov.uk/state-pension/claim-a-delayed-deferred-state-pension">claim your deferred basic State Pension</a> instead.
        </p>
      </div>
      <h3 class="govuk-heading-s">
        Claim by phone or post
      </h3>
      <p class="govuk-body">
        You can claim by phone if you reach <a href="https://www.gov.uk/state-pension-age">State Pension age</a> in the next 4 months.
      </p>
      <p class="govuk-body">
        If you want to claim by post, phone the Pension Service to get a State Pension claim form sent to you.
      </p>
      
      <h3 class="govuk-heading-s">
        Claim by phone or ask for a form
      </h3>                                                                        
      <div style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
        <p class="govuk-body">Rhif ffôn: 0800 731 7936 <br>
          Ffôn testun: 0800 731 7013<br/>
          <a href="https://www.relayuk.bt.com">Relay UK</a> (os na allwch glywed neu siarad dros y ffôn): 18001 yna 0800 731 7898<br/>
          <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Gwasanaeth cyfnewid fideo</a> Iaith Arwyddion Prydain (BSL) os ydych ar gyfrifiadur – darganfyddwch sut i <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">ddefnyddio’r gwasanaeth ar ffôn symudol neu lechen</a><br/>
          Llinell Saesneg: 0800 731 7898<br/>
          Ffôn testun Saesneg: 0800 731 7339</p>
          
          <p class="govuk-body">Dydd Llun i ddydd Gwener, 8am i 6pm (heblaw gwyliau cyhoeddus)<br/>
          <a href="/costau-galwadau">Darganfyddwch fwy am gostau galwadau</a></p>
      </div>

      <h2 class="govuk-heading-m" id="help">
        Get help using the online service
      </h2>
      <p class="govuk-body">
        Contact the Pension Service if you need help using the online service.
      </p>
      <div style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
        <p class="govuk-body">Ffôn: 0800 169 0253<br/>
          Ffôn testun: 0800 169 0253<br/>
          <a href="https://www.relayuk.bt.com">Relay UK</a> (os na allwch glywed neu siarad dros y ffôn): 18001 yna 0800 169 0154<br/>
          <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Gwasanaeth cyfnewid fideo</a> Iaith Arwyddion Prydain (BSL) os ydych ar gyfrifiadur – darganfyddwch sut i <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">ddefnyddio’r gwasanaeth ar ffôn symudol neu lechen</a><br/>
          Llinell Saesneg: 0800 169 0154<br/>
          Ffôn testun Saesneg: 0800 169 0254</p>
          
          <p class="govuk-body">Dydd Llun i ddydd Gwener, 8am i 5pm (heblaw gwyliau cyhoeddus)<br/>
          <a href="/costau-galwadau">Darganfyddwch fwy am gostau galwadau</a></p>
      </div>

      <h2 class="govuk-heading-m" id="report">
        Cael gwybodaeth am bensiwn, neu roi gwybod am newid
      </h2>
      
      <p class="govuk-body">
        Cysylltwch â’r Gwasanaeth Pensiwn i:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          cael gwybodaeth am eich Pensiwn y Wladwriaeth
        </li>
        <li>
          rhoi gwybod am newid yn eich amgylchiadau, fel newid cyfeiriad neu fanylion banc
        </li>
        <li>
          rhoi gwybod am farwolaeth
        </li>
        <li>
          gofyn unrhyw gwestiynau eraill sydd gennych ynghylch eich Pensiwn y Wladwriaeth
        </li>
      </ul>

      <div style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
        <p class="govuk-body">Ffôn: 0800 731 0453<br/>
          Ffôn testun: 0800 731 0456<br/>
          <a href="https://www.relayuk.bt.com">Relay UK</a> (os na allwch glywed neu siarad dros y ffôn): 18001 yna 0800 731 0469<br/>
          <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Gwasanaeth cyfnewid fideo</a> Iaith Arwyddion Prydain (BSL) os ydych ar gyfrifiadur – darganfyddwch sut i <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">ddefnyddio’r gwasanaeth ar ffôn symudol neu lechen</a><br/>
          Llinell Saesneg: 0800 731 0469<br/>
          Ffôn testun Saesneg: 0800 731 0464</p>
          
          <p class="govuk-body">Dydd Llun i ddydd Gwener, 8am i 6pm (heblaw gwyliau cyhoeddus)<br/>
          <a href="/costau-galwadau">Darganfyddwch fwy am gostau galwadau</a></p>
      </div>

      <p class="govuk-body">
        Cysylltwch â’r <a href="https://www.gov.uk/international-pension-centre">Cysylltwch â’r Ganolfan Bensiwn Ryngwladol</a> os ydych yn byw tramor.
      </p>

      <h2 class="govuk-heading-m" id="forecast">
        Cael rhagolwg Pensiwn y Wladwriaeth
      </h2>
      <p class="govuk-body">
        Gallwch wirio faint o Bensiwn y Wladwriaeth y gallech ei gael pan fyddwch yn cyrraedd oedran Pensiwn y Wladwriaeth trwy:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          defnyddio’r <a href="https://www.gov.uk/gwirio-eich-pensiwn-y-wladwriaeth">gwasanaeth rhagolwg gwirio eich Pensiwn y Wladwriaeth</a>
        </li>
        <li>
          cysylltu â’r <a href="https://www.gov.uk/cysylltwch-ar-ganolfan-bensiwn-y-dyfodol">Ganolfan Pensiwn y Dyfodol</a>
        </li>
        <li>
          cwblhau’r <a href="https://www.gov.uk/government/publications/application-for-a-state-pension-statement">ffurflen BR19W</a> a’i hanfon trwy’r post
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="write">
        Ysgrifennu i’r Gwasanaeth Pensiwn
      </h2>
      <div style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
        <p class="govuk-body">
          The Pension Service<br/> 
          Post Handling Site A<br/> 
          Wolverhampton<br/> 
          WV98 1AF 
        </p>
      </div>

      <h2 class="govuk-heading-m" id="complain">
        Cwyno am y Gwasanaeth Pensiwn
      </h2>
      <p class="govuk-body">
        Cysylltwch â’r Adran Gwaith a Phensiynau i <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/complaints-procedure.cy">gwyno am y Gwasanaeth Pensiwn</a>.
      </p>

      <div class="govuk-inset-text">
        <p class="govuk-body">
          Gallwch gael cyngor annibynnol gan <a href="http://www.citizensadvice.org.uk/">Gyngor ar Bopeth</a>.
        </p>
      </div>

      <div class="app-c-contents-list-with-body__link-container">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>
      </div>

      <!-- <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="#" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Page 1 title
              </span>
            </a>
          </li>
          <li class="app-pagination__item app-pagination__item--next">
            <a href="#" class="govuk-link app-pagination__link" rel="next">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Page 3 title
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Cynnwys cysylltiedig
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/credyd-pensiwn">
                Credyd Pensiwn
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>
  <script>
    function showFunction() {
    var moreLinks = document.getElementById("more");
    var linkText = document.getElementById("show-more");
  
    if (more.style.display === "none") {
      linkText.innerHTML = "Show 2 more"; 
      moreLinks.style.display = "none";
    } else {
      linkText.innerHTML = "Show fewer"; 
      moreLinks.style.display = "inline";
    }
  }
  </script>
{% endblock %}
