{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
  You have signed out - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="bank-playback" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            You have signed out
          </h1>
          <p class="govuk-body">
            You can <a href="#">return to Manage your State Pension</a>.
          </p>
          <h2 class="govuk-heading-m">
            Help improve this service
          </h2>
          <!-- <p class="govuk-body">
            <a href="#">Your feedback will help us improve this service</a>
          </p> -->
          <p class="govuk-body">
            You can <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=6fbxllcQF0GsKIDN_ob4w63UMUB0JnFNmfbBlHso9sdUQ0FHMTFTNzM4RjgzUFhWQ0o4R0gxQlZXMi4u">help improve this service by giving us your feedback</a>.
          </p>
          <p class="govuk-body">
            It is now safe to close this window. 
          </p>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
