{% extends "layout_noback.html" %}

{% block pageTitle %}
  Your address has been updated - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="moj-interruption-card">
        <div class="moj-interruption-card__content">
          <h1 class="govuk-panel__title">Your address has been updated for State Pension but we need to ask additional questions relating to your Pension Credit payments</h1>
          <div class="moj-interruption-card__body">
            <p>Pension Credit is a means tested benefit so we need to understand your circumstances to work out your Pension Credit entitlement.</p>
            <p>If you don't inform Pension Credit about your change of address by <strong>5 September 2025</strong> your Pension Credit payments may be stopped.</p>
          </div>
          <div class="govuk-button-group moj-interruption-card__actions">
      
            <a href="property-you-lived-previously.html" role="button" draggable="false" class="govuk-button govuk-button--inverse" data-module="govuk-button">
              Continue
            </a>
            
      
            <!-- <a class="govuk-link govuk-link--inverse" href="#">Return to your State Pension details</a> -->
      
          </div>
        </div>
      </div>
      <h2 class="govuk-heading-s">Your address has been updated to:</h2>

      {% if (data['select-an-address'] == "Select1") %}   
      <p class="govuk-body">
        1 Square Street<br>
        York<br>
        YO3 1SQ	<br>
        {% else %}
        <p class="govuk-body">
          1 Square Street<br>
          York<br>
          YO3 1SQ	<br>
        {% endif %}
      
      {% if (data['select-an-address'] == "Select2") %}   
      <p class="govuk-body">
        84 Square Street<br>
        York<br>
        YO3 1SQ	<br>
        {% endif %}

      {% if (data['select-an-address'] == "Select3") %}   
      <p class="govuk-body">
        {{ data['new-address-line-1'] }}<br>
        {{ data['new-address-line-2'] }}<br>
        {{ data['new-town-1'] }}<br>
        {{ data['county-1'] }}<br>
        {{ data['new-postcode-1'] }}<br>
        {% endif %}

      {% if (data['select-an-address'] == "Select4") %}   
      <p class="govuk-body">
        {{ data['new-address-line-1'] }}<br>
        {{ data['new-address-line-2'] }}<br>
        {{ data['new-town-1'] }}<br>
        {{ data['county-1'] }}<br>
        {{ data['new-postcode-1'] }}<br>
        {% endif %}

        <p class="govuk-body">We will send you a letter to confirm you have changed your address.</p>

        <h2 class="govuk-heading-s">What happens next</h2>
        <p class="govuk-body">You will need to inform Pension Credit of your change of address so they can work out how much Pension Credit you're entitled to.</p>


  
  <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <!-- <div class="govuk-inset-text">
        <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div> -->
      <div class="govuk-inset-text">
      <a href="your-state-pension&updated.html">Return to Your State Pension details.</a></div>
      <p class="govuk-body">
        <a href="signed-out.html">Sign out</a>
      </p>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
