


{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Change of Circumstances<br/>Retirement Services
      </h1>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Service maintenance tasks</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!govuk-grid-column-two-thirds">Description</th>

            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <!-- <th scope="row" class="govuk-table__header govuk-!govuk-grid-column-two-thirds">WIP: Design Sprint ???</th> -->
            <td class="govuk-table__cell">A list of tasks being worked on to improve the service and fix issues that we uncover unexpectedly</td>
            <td class="govuk-table__cell"><a href="service-maintenance/index.html">Open</a></td>
          </tr>
        </tbody>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">Winter Fuel Opt Out</caption>
          <caption class="govuk-table__caption govuk-table__caption--m">GySP/Legacy Citizens</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 11 January to 24 March</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
               Complete
              </strong><br><strong>V1</strong> - (Prototype for usability testing). Giving citizens the ability to opt out of Winter Fuel Payments in MySP</td>
              <td class="govuk-table__cell"><a href="wf-opt-out/1-0/index.html">Open</a></td>
            </tr>
                        <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 2:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 24 March to 20 April</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
               Complete
              </strong><br><strong>V2</strong> - (Prototype for usability testing). Giving citizens the ability to opt out of Winter Fuel Payments in MySP</td>
              <td class="govuk-table__cell"><a href="wf-opt-out/2-0/index.html">Open</a></td>
            </tr>
                   <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 3:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 20 April to 26 June</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
               In progress
              </strong><br><strong>MVP</strong> - Giving citizens the ability to opt out of Winter Fuel Payments in MySP</td>
              <td class="govuk-table__cell"><a href="wf-opt-out/3-0/index.html">Open</a></td>
            </tr>
        </table>  

        

        
        

        <table class="govuk-table govuk-!-margin-bottom-5">
          <caption class="govuk-table__caption govuk-table__caption--l">Change of bank details with Transunion validation</caption>
          <caption class="govuk-table__caption govuk-table__caption--m">PSCS/Legacy citizens</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 2:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 11 March January to 24 March</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
               Complete
              </strong><br><strong>MVP - Ready for DEV</strong> - Design iteration for the MVP solution giving <strong>PSCS/Legacy</strong> citizens the ability to request a change of payment detail</td>
              <td class="govuk-table__cell"><a href="tu-bank-validation/legacy/v1/index.html">Open</a></td>
            </tr>
        </table>    

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">GYSP Citizen</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>

          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 12 March 2026</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              <strong>V1</strong> - Design iteration for the MVP solution giving <strong>GySP</strong> citizens the ability to request a change of payment details</td>.
              <td class="govuk-table__cell"><a href="tu-bank-validation/1-0/index">Open</a></td>
            </tr>
        </table>

        <!-- <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">Change of bank details with Transunion validation (Post MVP)</caption>
          <caption class="govuk-table__caption govuk-table__caption--m">GYSP Citizen</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 17 December to 13 Jan</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              <strong>MVP - Ready for DEV</strong> - Design iteration for a change of bank details with Transunion validation</td>
              <td class="govuk-table__cell"><a href="tu-bank-validation/1-0/index.html">Open</a></td>
            </tr>
  
          
        </table> -->

        

        

        <table class="govuk-table govuk-!-margin-bottom-7">
          <caption class="govuk-table__caption govuk-table__caption--l">Change of address combined SP & PC</caption>
          <caption class="govuk-table__caption govuk-table__caption--m">V2. Rent to rent journey - GySP citizen</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 19 November to 2 December</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong><br>
              <strong>v3</strong> Design iteration for change of address when a citizen is on SP & PC where the SP record is in GySP. Design updates are after 1 round of UT<br>
              This version includes upfront filtering questions</td>
              <td class="govuk-table__cell"><a href="coa-combined/v3/index.html">Open</a></td>
            </tr>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 19 November to 2 December</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              <strong>v2</strong> Design iteration for phase 2 of address when a citizen is on SP & PC where the SP record is in GySP.<br>
              This version includes upfront filtering questions</td>
              <td class="govuk-table__cell"><a href="coa-combined/v2/index.html">Open</a></td>
            </tr>
        </table>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">V1. Rent to rent - GySP citizen</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 19 November to 2 December</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              <strong>v1</strong> Design iteration for phase 2 of address when a citizen is on SP & PC where the SP record is in GySP</td>
              <td class="govuk-table__cell"><a href="coa-combined/v1/index.html">Open</a></td>
            </tr>
        </table>

        

        <table class="govuk-table govuk-!-margin-bottom-5">
          <caption class="govuk-table__caption govuk-table__caption--l">Change of address combined SP & PC</caption>
          <caption class="govuk-table__caption govuk-table__caption--m">Phase 1 - GySP citizen</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 24 September to 7 October</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              <strong>v1</strong> Design iteration for phase 1 of address updates in preparation for phase 2 of the journey.</td>
              <td class="govuk-table__cell"><a href="coa-combined/phase1/gysp-v1/index.html">Open</a></td>
            </tr>
        </table>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">Phase 1 - PSCS citizen</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 24 September to 7 October</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
               Complete
              </strong><br>
              <strong>v1</strong> Design iteration for phase 1 of address updates in preparation for phase 2 of the journey.</td>
              <td class="govuk-table__cell"><a href="coa-combined/phase1/pscs-address-change-v1/index.html">Open</a></td>
            </tr>
        </table>
        
        

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">One login authentication</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 20 August to 2 September</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              Complete
            </strong><br><strong>Ready for Dev V.1</strong> - One Login Integration</td>
            <td class="govuk-table__cell"><a href="one-login/1-0/index.html">Open</a></td>
          </tr>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">PSCS - Find someone</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 12 February to 25 February</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              Complete
            </strong><br><strong>Ready for Dev V.1</strong> - Allowing an agent to find someone in GYSP - <strong>Round 1 of UT</strong></td>
            <td class="govuk-table__cell"><a href="find-someone-legacy/1-0/index.html">Open</a></td>
          </tr>

          <table class="govuk-table govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption govuk-table__caption--l">PSCS - Agent experience</caption>
            <caption class="govuk-table__caption govuk-table__caption--m">Change of address</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Link</th>
              </tr>
            </thead>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 12 February to 25 February</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br><strong>Ready for Dev V.1</strong> - Adding a task for agents to confirm citizens change of address - <strong>Round 1 of UT</strong></td>
              <td class="govuk-table__cell"><a href="otfd-agent/address-change/index.html">Open</a></td>
            </tr>
            <table class="govuk-table govuk-!-margin-bottom-9">
              <caption class="govuk-table__caption govuk-table__caption--m">Change of bank details</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                  <th scope="col" class="govuk-table__header">Details</th>
                  <th scope="col" class="govuk-table__header">Link</th>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 3:</th>
                  <td class="govuk-table__cell govuk-!-width-one-quarter"> 26 February to 11 March</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                    Complete
                  </strong><br><strong>V.3 Ready for Dev</strong> - Adding a task for agents to confirm bank details changes</td>
                  <td class="govuk-table__cell"><a href="otfd-agent/3-0/index.html">Open</a></td>
                </tr>
                
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 2:</th>
                  <td class="govuk-table__cell govuk-!-width-one-quarter"> 18 December to 1 January</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                    Complete
                  </strong><br><strong>V.2</strong> - Adding a task for agents to confirm bank details changes for <strong>Round 2 of UT</strong></td>
                  <td class="govuk-table__cell"><a href="otfd-agent/2-0/index.html">Open</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
                  <td class="govuk-table__cell govuk-!-width-one-quarter"> 21 November to 5 December</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                    Complete
                  </strong><br><strong>V.1</strong> - Adding a task for agents to confirm bank details changes - Initial designs - <strong>Round 1 of UT</strong></td>
                  <td class="govuk-table__cell"><a href="otfd-agent/1-0/index.html">Open</a></td>
                </tr>
              </thead>
          <table class="govuk-table govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption govuk-table__caption--l">PSCS - Citizen experience</caption>
            <caption class="govuk-table__caption govuk-table__caption--m">Change of address</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Link</th>
              </tr>
            </thead>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 4:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 12 February to 25 February</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br><strong>V.1 READY FOR DEV</strong> - Giving cititzens the ability to request a change of address - <strong>Round 1 of UT</strong></td>

              <td class="govuk-table__cell"><a href="oftd/pscs-address-change/index.html">Open</a></td>
            </tr>

          <table class="govuk-table govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption govuk-table__caption--m">Change of bank details</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Link</th>
              </tr>
            </thead>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 3:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 15 January to 28 January</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br><strong>V.2 READY FOR DEV</strong> - Giving cititzens the ability to request a change of payment details</td>
              <td class="govuk-table__cell"><a href="oftd/pscs-bank-details-2/index.html">Open</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1/2:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 21 November to 14 January</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br><strong>V.1</strong> - Giving cititzens the ability to request a change of payment details - <strong>Round 1 of UT</strong></td>
              <td class="govuk-table__cell"><a href="oftd/pscs-bank-details-1/index.html">Open</a></td>
            </tr>
            
            

            <table class="govuk-table govuk-!-margin-bottom-9">
              <caption class="govuk-table__caption govuk-table__caption--l">Open the front door</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                  <th scope="col" class="govuk-table__header">Details</th>
                  <th scope="col" class="govuk-table__header">Link</th>
                </tr>
              </thead>

              <!-- <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 5:</th>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> ????</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                  In progress
                </strong><br><strong>V.6 - READY FOR DEV</strong>- Open the front door for all citizens no matter where their record is held.<br><br>
                <strong>Change of address and change of bank account details</strong> will be available to all citizens.</td>
                <td class="govuk-table__cell"><a href="oftd/6-0/index.html">Open</a></td>
              </tr> -->

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 5:</th>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> 8 October to 21 October</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Complete
                </strong><br><strong>V.5</strong>- Open the front door for all citizens no matter where their record is held.<br><br>
                <strong>Change of address</strong> will be the first feature available to all citizens.</td>
                <td class="govuk-table__cell"><a href="oftd/5-0/index.html">Open</a></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 4:</th>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> 2 Jul to 15 Jul</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Complete
                </strong><br><strong>V.4 - READY FOR DEV</strong> - Open the front door for all citizens no matter where their record is held. Bank details first feature release for GySP & Legacy citizens</td>
                <td class="govuk-table__cell"><a href="oftd/4-0/index.html">Open</a></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 3:</th>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> 18 Jun to 1 Jul</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Complete
                </strong><br><strong>V.3</strong> - Open the front door fo all citizens no matter where their record is held</td>
                <td class="govuk-table__cell"><a href="oftd/3-0/index.html">Open</a></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 2:</th>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> 12 March to 25 March</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Completed
                </strong><br><strong>MVP - Ready for DEV</strong> - Open the front door concept allowing entry into GYSP through a public link</td>
                <td class="govuk-table__cell"><a href="oftd/2-0/index.html">Open</a></td>
              </tr>

    
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> 6 November to 20 November</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Complete
                </strong><br><strong>V.1</strong> - Open the front door concept allowing entry into GYSP through a public link</td>
                <td class="govuk-table__cell"><a href="oftd/1-0/index.html">Open</a></td>
              </tr>

          <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">Address we send letters to</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 9 October to 23 October</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              Complete
            </strong><br>Allowing citizens to change the address where we send letters to v.1</td>
            <td class="govuk-table__cell"><a href="contact/3-0/correspondence-address-v1/index.html">Open</a></td>
          </tr>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">Change of address</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 4:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 6 November to 20 November</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Completed
              </strong><br>Design iteration for round 2 UT</td>
              <td class="govuk-table__cell"><a href="contact/3-0/change-of-address-v3/index.html">Open</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 3:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 25 September to 8 October</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Completed
              </strong><br>
              <strong>READY FOR DEV V.1</strong> - Simple address iteration 1.</td>
              <td class="govuk-table__cell"><a href="contact/3-0/change-of-address-v1-1/index.html">Open</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 2:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 3 to 6 September</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              Change of address for round 1 of user testing.</td>
              <td class="govuk-table__cell"><a href="contact/3-0/change-of-address-v2/index-v2.html">Open</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Sprint 1:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> 14 August 27 August</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Complete
              </strong><br>
              <strong>MVP INITIAL BUILD</strong> for simple change of address READY FOR DEV (Mural Link).</td>
              <td class="govuk-table__cell"><a href="contact/3-0/index-v1.html">Open</a></td>
            </tr>
        </table>
      

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Addition of contact detail change journeys</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 4</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 13 March to 27 March</td>
            <td class="govuk-table__cell">MVP iteration of contact details READY FOR DEV.</td>
            <td class="govuk-table__cell"><a href="contact/mvp/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 3</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 31 January to 13 February 2024</td>
            <td class="govuk-table__cell">Second iteration of change contact details in preparation for 2nd round of UR with inclusion of address</td>
            <td class="govuk-table__cell"><a href="contact/3-0/index.html">Open</a></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">15 January to 26 anuary 2024</td>
            <td class="govuk-table__cell">First iteration of contact details including KBV questions for first round of UR</td>
            <td class="govuk-table__cell"><a href="contact/2-0/manage-state-pension.html">Open</a></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">6 November to 1 December 2023</td>
            <td class="govuk-table__cell">Initial design for changing contact details based on existing GDS patterns</td>
            <td class="govuk-table__cell"><a href="contact/1-0/index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Addition of email confirmation</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">22 November to 5 December 2023</td>
            <td class="govuk-table__cell">Iteration of email confirmation based on usability testing feedback</td>
            <td class="govuk-table__cell"><a href="email-and-payment-schedule/2-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">15 to 29 September 2023</td>
            <td class="govuk-table__cell">Initial design for email confirmation based on other retirement services</td>
            <td class="govuk-table__cell"><a href="email-and-payment-schedule/1-0/index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Addition of change payment frequency</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 5</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">21 to 29 August 2023</td>
            <td class="govuk-table__cell">MVP iteration of payment frequency - READY FOR DEV</td>
            <td class="govuk-table__cell"><a href="frequency/5-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 4</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">3 to 28 July 2023</td>
            <td class="govuk-table__cell">Third iteration of change payment frequency</td>
            <td class="govuk-table__cell"><a href="frequency/4-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 3</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">16 to 28 June 2023</td>
            <td class="govuk-table__cell">Second iteration of change payment frequency</td>
            <td class="govuk-table__cell"><a href="frequency/3-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">5 to 12 June 2023</td>
            <td class="govuk-table__cell">First iteration of change payment frequency</td>
            <td class="govuk-table__cell"><a href="frequency/2-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">4 to 18 April 2023</td>
            <td class="govuk-table__cell">Initial design is based on the BA work on requirements</td>
            <td class="govuk-table__cell"><a href="frequency/1-0/index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">MVP delivery<br/>Present State Pension details and change bank account</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 4</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">10 to 17 February 2023</td>
            <td class="govuk-table__cell">Final iteration of MVP journey, ready for dev. Use this version for walkthroughs with stakeholders or wider teams.</td>
            <td class="govuk-table__cell"><a href="mvp/4-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 3</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">27 January to 9 February 2023</td>
            <td class="govuk-table__cell">Second round of iteration of MVP journey</td>
            <td class="govuk-table__cell"><a href="mvp/3-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">19 to 26 January 2023</td>
            <td class="govuk-table__cell">First iteration of MVP journey</td>
            <td class="govuk-table__cell"><a href="mvp/2-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">16 December 2022 to 19 January 2023</td>
            <td class="govuk-table__cell">Iteration of initial ideas incorporating team feedback</td>
            <td class="govuk-table__cell"><a href="mvp/1-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 0</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">8 to 15 December 2022</td>
            <td class="govuk-table__cell">Initial ideas based on design research</td>
            <td class="govuk-table__cell"><a href="initial-ideas/v00-index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      
    </div>
  </div>

{% endblock %}
