{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your details</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if (data['other-benefits'] == "Yes") %}
          {% endif %}  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              What best describes the property you previously lived at?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['home-type'] %}
                {{ data['home-type'] }}
              {% else %}
                I rented it
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="have-you-already-moved.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Did you have any housing costs/service charges where you previously lived?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['housing-costs-old'] %}
                {{ data['housing-costs-old'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Which best describes the place where you live now?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['home-type2'] %}
                {{ data['home-type2'] }}
              {% else %}
                I rent it
              {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="uk-address.html">
                Change<span class="govuk-visually-hidden"> if your moving this property</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Do you have any housing costs where you live now?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['housing-costs-new'] %}
                {{ data['housing-costs-new'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Do you pay ground rent at your new address?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['ground-rent'] %}
                {{ data['ground-rent'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Do you pay any service charges at your new address?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['service-charges'] %}
                {{ data['service-charges'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Do you have a mortgage or loan secured against your home?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['mortgage-orloan'] %}
                {{ data['mortgage-loan'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Do you currently get Support for Mortgage Interest (SMI)?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['do-you-get-smi-support'] %}
                {{ data['do-you-get-smi-support'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Do you want us to send you some information about Support for Mortgage Interest (SMI)?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['want-smi-support'] %}
                {{ data['want-smi-support'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Does anybody live with you at your new property?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['additional-people'] %}
                {{ data['additional-people'] }}
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="temp-or-perm.html">
                Change<span class="govuk-visually-hidden"> residential address</span>
              </a>
            </dd>
          </div>




          {% if (data['select-an-address'] == "Select1") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>
          {% endif %}
          
          {% if (data['select-an-address'] == "Select2") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Your address 
            </dt>
            <dd class="govuk-summary-list__value">
              84 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/matching-address-found.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if (data['select-an-address'] == "Select3") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Your address 
            </dt>
            <dd class="govuk-summary-list__value">
              11 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>          
          {% endif %}

          {% if (data['select-an-address'] == "Select4") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Your address 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['new-address-line-1'] }}<br>
              {{ data['new-address-line-2'] }}<br>
              {{ data['new-town-1'] }}<br>
              {{ data['county-1'] }}<br>
              {{ data['new-postcode-1'] }}<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>          
          {% endif %}
        </dl>


        
        <h2 class="govuk-heading-m">Submit your new details</h2>
        <p class="govuk-body">By submitting this change you are confirming that the information you are giving is complete and correct.</p>

        <form action="/changed-residential-address4" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
        </form>
    </div>
  </div>

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "../2-0/check-answers.html",
            text: "Lighter declaration",
            attributes: {
              target: "_blank"
            }
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
