{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  What was your housing status? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/housing-status2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">About where you lived before</span>
              <h1 class="govuk-fieldset__heading">
                What was your housing status?
              </h1>
            </legend>

            <!-- <p class="govuk-body">
              You can only change your address after you have moved.
            </p> -->

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previous-housing-status" name="previous-housing-status" type="radio" value="I owned my property (with or without a mortgage)" {{ checked("previous-housing-status", "owned") }}>
                <label class="govuk-label govuk-radios__label" for="previous-housing-status">
                  I owned my property (with or without a mortgage)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previous-housing-status" name="previous-housing-status" type="radio" value="I rented" {{ checked("previous-housing-status", "rented") }}>
                <label class="govuk-label govuk-radios__label" for="previous-housing-status">
                  I rented 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previous-housing-status" name="previous-housing-status" type="radio" value="I was renting and buying through a shared ownership scheme" {{ checked("previous-housing-status", "was-shared") }}>
                <label class="govuk-label govuk-radios__label" for="previous-housing-status">
                  I was renting and buying through a shared ownership scheme
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previous-housing-status" name="previous-housing-status" type="radio" value="I lived in someone else's home without paying rent" {{ checked("previous-housing-status", "had-no-costs") }}>
                <label class="govuk-label govuk-radios__label" for="previous-housing-status">
                  I lived in someone else's home without paying rent
                </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="previous-housing-status" name="previous-housing-status" type="radio" value="other" data-aria-controls="conditional-contact"{{ checked("previous-housing-status", "other") }}>
                  <label class="govuk-label govuk-radios__label" for="other">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <!-- <label class="govuk-label" for="other">
                      What should this say?
                    </label> -->
                    <input class="govuk-input govuk-!-width-one-third" id="previous-housing-status" name="other" type="text" spellcheck="false">
                  </div>
                </div>

            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
