
{% extends "layouts/ol_signed_in" %}
{% set pageName = "Do you or your partner have money in any of these?" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <p class="govuk-!-padding-bottom-7"><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

      <div {% if data ['style']==2 %} class="interruption-card" {% endif %}>
        <h1 class="govuk-heading-l {%if data['style']==2%}interruption-card__heading{%endif%}">
          We need more information about your money and investments
        </h1>

        <div class="govuk-form-group">
        {% if data['route'] == 1 %}
          <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}">
            So we pay you the correct amount of Pension Credit, we need to know how much money you have in:
          </p>
           <ul class="govuk-list govuk-list--bullet {%if data['style']==2%}interruption-card__body{%endif%}">
              {% for item in data['capitalTypes'] %}
              <li>{{ item }}</li>
              {% endfor %}
          </ul>
        {% endif %}
          <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}">
            {% if data['route'] == 1 %}
              We will ask you:
            {% else %}
              To pay you the correct amount of Pension Credit, we need to know:
            {% endif %}
          </p>
           <ul class="govuk-list govuk-list--bullet {%if data['style']==2%}interruption-card__body{%endif%}">
              <li>how much money you and your partner have today</li>
              <li>how much money you both had on {{data['backdateDateString']}}</li>
          </ul>

          {% if data['route'] == 2 %}
            <h2 class="govuk-heading-m {%if data['style']==2%}interruption-card__heading{%endif%}">
              Things you may need
            </h2>

            <!--- LOOKING TO SEE HOW MANY IN LIST --->
            {% if data['capitalTypes'].length == 1 %}
             <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}"> To answer the next few questions you may need
                {%if data['capitalTypes'] == 'bank and building society accounts' or data['capitalTypes'] == 'credit union and Post Office accounts' or data['capitalTypes'] == 'ISAs'%}
                    the current balance and statements for all of your accounts.
                {%endif%}
                {%if data['capitalTypes'] == 'cash at home or somewhere else'%}
                    to know how much money you have in cash.
                {%endif%}
                {%if data['capitalTypes'] == 'Premium Bonds or other NS&I products'%}
                    the current balance and statements for your NS&I products.
                {%endif%}
                {%if data['capitalTypes'] == 'income bonds or capital bonds'%}
                    your bond records since {{data['backdateDateString']}}.
                {%endif%}
                {%if data['capitalTypes'] == 'shares'%}
                your share certificates or annual dividend report.
                {%endif%}
              </p>
            {%  elseif
                data['capitalTypes'].length == 2 and
                (data['capitalTypes'][1] == 'credit union and Post Office accounts' or data['capitalTypes'][1] == 'ISAs')
            %}
              <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}"> To answer the next few questions you may need the current balance and statements for all of your accounts.</p>
            {%  elseif
                data['capitalTypes'].length == 3 and
                (data['capitalTypes'][2] == 'ISAs')
            %}
              <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}"> To answer the next few questions you may need the current balance and statements for all of your accounts.</p>

            {% else %}
              <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}">
                To answer the next few questions you may need:
              </p>
              <ul class="govuk-list govuk-list--bullet {%if data['style']==2%}interruption-card__body{%endif%}">
                {% for item in data['capitalTypes'] %}
                    {%if item == 'bank and building society accounts'%}
                        <li>the current balance and statements for all of your accounts</li>
                    {%endif%}

                    {%if data['capitalTypes'][loop.index0-1] != 'bank and building society accounts' %}
                      {%if item == 'credit union and Post Office accounts'%}
                        <li>the current balance and statements for all of your accounts</li>
                      {%endif%}
                    {%endif%}

                    {%if data['capitalTypes'][loop.index0-1] != 'bank and building society accounts' and data['capitalTypes'][loop.index0-1] != 'credit union and Post Office accounts' %}
                      {%if item == 'ISAs'%}
                        <li>the current balance and statements for all of your accounts</li>
                      {%endif%}
                    {%endif%}

                    {%if item == 'cash at home or somewhere else'%}
                        <li>to know how much money you have in cash</li>
                    {%endif%}
                    {%if item == 'Premium Bonds or other NS&I products'%}
                        <li>the current balance and statements for your NS&I products</li>
                    {%endif%}
                    {%if item == 'income bonds or capital bonds'%}
                        <li>your bond records since {{data['backdateDateString']}}</li>
                    {%endif%}
                    {%if item == 'shares'%}
                    <li>your share certificates or annual dividend report</li>
                    {%endif%}
                {% endfor %}
                </ul>
              {% endif %}

          <div class="govuk-inset-text {%if data['style']==2%}interruption-card__inset{%endif%}">
            If you do not enter anything for more than 30 minutes, your application will time out and you will have to start again.
          </div>

          {% endif %}

        </div>
        <form method="post">
          <button type="submit" class="govuk-button {%if data['style']==2%}govuk-button--secondary{%endif%}" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


